
















# `package-lock.json` is important but sadly it's also a consistent source of conflicts.
# Handle as a text file but merge as binary.
package-lock.json merge=package-lock-json





























